<div class="container bg-dark">
    <div class="row">
        <div class="col-10 mt-3 mb-3">
            <div id="flipbook">
                <div class="hard">  
                    <p class="title_catalogue"> NOVEDADES JERZITO</p> 
                    <p class="subtitle_catalogue">ROPA PARA NIÑOS Y NIÑAS</p>  
                    <div class="portada1">
                        <img src="assets/portada1.png" alt="portada1">
                    </div> 
                    <div class="portada2">
                        <img src="assets/portada2.png" alt="portada2">
                    </div>
                    <div class="portada3">
                        <img src="assets/portada3.png" alt="portada3">  
                    </div>   
                    <div class="contenido">
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/location.png" alt="location" class="icon">
                            </div>
                            <div class="col-11">
                                <p>Emporio Comercial La Explanada puesto W11</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/facebook.png" alt="facebook" class="icon">
                            </div>
                            <div class="col-5">
                                <p>Novedades Jerzito</p>
                            </div>
                            <div class="col-1">
                                <img src="assets/whatsapp.png" alt="whatsapp" class="icon">
                            </div>
                            <div class="col-5">
                                <p>938 483 565</p>
                            </div>
                        </div>
                    </div>
                    <div class="agregados">
                        <img src="assets/estrella.png" alt="estrella" class="estrella">
                        <img src="assets/estrella.png" alt="estrella" class="estrella1">
                        <img src="assets/estrella.png" alt="estrella" class="estrella2">
                        <img src="assets/estrella.png" alt="estrella" class="estrella3">
                        <img src="assets/estrella.png" alt="estrella" class="estrella4">
                        <img src="assets/estrella.png" alt="estrella" class="estrella5">
                        <img src="assets/estrella.png" alt="estrella" class="estrella6">
                        <img src="assets/estrella.png" alt="estrella" class="estrella7">
                        <img src="assets/estrella.png" alt="estrella" class="estrella8">
                        <img src="assets/estrella.png" alt="estrella" class="estrella9">
                        <img src="assets/estrella.png" alt="estrella" class="estrella10">
                        <img src="assets/estrella.png" alt="estrella" class="estrella11">
                    </div>                 
                </div>
                <div class="hard"></div>
            </div>
        </div>
        <div class="col-2 text-center mt-3 mb-3">
            <a class="btn btn-primary" [attr.href]="hrefZip"><i class="far fa-file-archive"></i> DESCARGAR FOTOS (.zip)</a>
            <button class="btn btn-primary mt-3" (click)="downloadPdf()"><i class="far fa-file-pdf"></i> DESCARGAR CATÁLOGO (.pdf)</button>
        </div>
    </div>
</div>