<div class="container bg-dark">
    <div class="row">
        <div class="col-10 mt-3 mb-3">
            <div id="flipbook">
                <div class="hard">  
                    <p class="title"> CATÁLOGO 2021</p>   
                    <img src="assets/portada.png" alt="" srcset=""> 
                    <p class="footer">Catálogo de Novedades Jersito</p>
                </div>
                <div class="hard"></div>
            </div>
        </div>
        <div class="col-2 text-center mt-3 mb-3">
            <a class="btn btn-primary" [attr.href]="hrefZip"><i class="far fa-file-archive"></i> DESCARGAR FOTOS (.zip)</a>
            <button class="btn btn-primary mt-3" (click)="downloadPdf()"><i class="far fa-file-pdf"></i> DESCARGAR CATÁLOGO (.pdf)</button>
        </div>
    </div>
</div>