<div class="container bg-dark">
    <div class="row">
        <div class="col-12 mt-3">
            <div id="magazine">
                <div unselectable="on" onselectstart="return false;" onmousedown="return false;">
                    <div class="catalogue mt-5">
                        <h3 class="entity">CATÁLOGO</h3>
                        <h3 class="entity">NOVEDADES JERZITO</h3>
                    </div>
                </div>
                <div></div>
                <div unselectable="on" onselectstart="return false;" onmousedown="return false;">
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 1</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 18.00</span>
                        </div>
                    </div>
                    <div class="row">                    
                        <div class="col-4">
                            <h3 class="title">TITULO 2</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>                        
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 20.00</span>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 3</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 32.00</span>
                        </div>
                    </div>
                </div>
                <div unselectable="on" onselectstart="return false;" onmousedown="return false;">
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 4</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 55.00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h3 class="title">TITULO 5</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>                        
                        <div class="col-2">
                            <span class="price">S/. 60.00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 6</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 64.00</span>
                        </div>
                    </div>
                </div>
                <div unselectable="on" onselectstart="return false;" onmousedown="return false;">
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 7</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 78.00</span>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-4">
                            <h3 class="title">TITULO 8</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 63.00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 9</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 40.00</span>
                        </div>
                    </div>
                </div>
                <div unselectable="on" onselectstart="return false;" onmousedown="return false;">
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 1</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 18.00</span>
                        </div>
                    </div>
                    <div class="row">                    
                        <div class="col-4">
                            <h3 class="title">TITULO 2</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>                        
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 20.00</span>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img src="https://via.placeholder.com/300x150.png" class="img-fluid image">
                        </div>
                        <div class="col-4">
                            <h3 class="title">TITULO 3</h3>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, minima.
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="price">S/. 32.00</span>
                        </div>
                    </div>
                </div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3 mb-3">
            <a class="btn btn-primary" [attr.href]="hrefZip">DESCARGAR FOTOS (.zip)</a>
            <button class="btn btn-primary ml-3">DESCARGAR CATÁLOGO (.pdf)</button>
        </div>
    </div>
</div>