#flipbook {
    width: 800px;
    height: 600px;
}
  
#flipbook .turn-page {
    background-color: white;
    padding: 50px 20px;
    border: 1px solid #ccc;
}

#flipbook .hard {
    
}

#flipbook .hard .footer {
    position: absolute;
    bottom: 0;
    font-style: italic;
    right: 10px;
}

.image {
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.description {
    font-size: 12px;
}

.price {
    font-weight: bold;
    font-size: 12px;
}

.catalogue {
    
}

.entity {
    text-align: center;
    vertical-align: middle;
}