<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h3>Empieza a subir tus fotos</h3>
        </div>
        <div class="col-12 mt-5">
            <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/png">
                <ngx-dropzone-label>Subir imágenes...</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                </ngx-dropzone-image-preview>
            </ngx-dropzone>
        </div>
        <div class="col-12 text-center mt-3">
            <button class="btn btn-primary" (click)="processImages()">MEJORAR IMÁGENES</button>
        </div>
    </div>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="square-jelly-box"
    >
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
</div>