<div class="container">
    <div class="row">
        <div class="col-6 mt-5">
            <h1>Generador de catálogo gratuito para tu empresa</h1>
            <p class="text-justify">Ofrece tus productos de manera profesional a través de catálogo, mejora las fotos de tus productos con tan solo un clic y dale a tus clientes la información de tus productos con mayor calidad, aumenta las visitas en tu sitio web o fan page y obtén nuevos potenciales consumidores mejorando la imagen de tu marca.</p>
        </div>
        <div class="col-6 text-center mt-5">
            <img src="https://via.placeholder.com/600x400.png">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h3>Comienza ahora!</h3>
        </div>
        <div class="col-12 text-center mt-3">
            <button class="btn btn-primary" [routerLink]="['/upload']">CREAR CATÁLOGO</button>
        </div>
        <div class="col-12 text-center mt-5">
            <p>MEJORA LA CALIDAD DE TUS FOTOS DE VENTA Y CREA UNA EMPRESA COMPETITIVA</p>
        </div>
        <div class="col-12 text-center">
            <img src="https://via.placeholder.com/1000x300.png">
        </div>
        <div class="col-12 text-center mt-5">
            <button class="btn btn-primary" [routerLink]="['/upload']">QUIERO EMPEZAR</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>¿Eres nuevo?</h3>
            <p>Sigue estos simples pasos:</p>
        </div>
        <div class="col-4">
            <img src="https://via.placeholder.com/300x200.png">
        </div>
        <div class="col-4">
            <img src="https://via.placeholder.com/300x200.png">
        </div>
        <div class="col-4">
            <img src="https://via.placeholder.com/300x200.png">
        </div>
    </div>
</div>